body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  text-align:center;
  background-image: url('rainy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed
}

h1 {
   font-family: Helvetica, Geneva, Arial,
         SunSans-Regular, sans-serif;
    text-align:center;}

div {
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px;
           }

    #gameText {
    display: none;
    margin-top: 20px;
           }

button {
        display: inline-block;
        background-color: #0d2501;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        border: none;
        font-size: 16px;
        transition-duration: 0.4s;
           }

button:hover {
             background-color: #1b4008;
             color: white;
           }

button:active {
             background-color: #153604;
             color: white;
           }

options {
  display: none;
                 display: flex;
                 justify-content: space-between;
                 width: 100px;
               }

               .option {
                 padding: 10px 20px;
                 cursor: pointer;
                 border: 1px solid #ccc;
                 border-radius: 5px;
                 margin: 4px;
                 margin-top: -310px;
               }

               #resultText {
                 margin-top: 10px;
               }
               #story2 {
                     display: none;
                     position: absolute;
                     top: -300px;
                   }
              #newOptions {
        display: none;
        margin-top: -300px;
      }
      #resultText {
       position: fixed;
       transform: translateX(80%);
       text-align: center;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: -140px;
     }
